* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: overwatch-italic;
    src: url(https://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff);
}

@font-face {
    font-family: overwatch;
    src: url(https://us.battle.net/forums/static/fonts/f014015d/f014015d.woff);
}

// set nav bar to the top of the page
nav {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    top: 0;
    position: fixed;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    
    animation-name: fadeDown;
    animation-duration: 2.5s;
    overflow: hidden;
    z-index: 1;
}

// set the container to be relative within the absolute position of the parent
.nav-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.name {
    font-family: overwatch;
    left: 0;
    position: absolute;
    font-size: 2em;
}

.nav-links {
    text-decoration: none;
    list-style: none;
    display: flex;

    li{
        padding: 0.8em 1.5em;
        font-size: 1.4em;
        font-family: overwatch;
        height: 100%;
    }
    li:hover {
        background-color: rgba(180, 180, 180, 0.8);
    }
}

.landing {
    height: 100VH;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
}

.title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-family: overwatch;

    h1 {
        color: rgba(0, 0, 0, 0.9);
        animation-name: moveLeft;
        animation-duration: 2s;
        overflow: hidden;
    }

    p {
        color: rgba(0, 0, 0, 0.9);
        animation-name: moveRight;
        animation-duration: 2s;
        overflow: hidden;
        font-weight: 600;
    }
}

.arrow {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    bottom: 0;
    padding-bottom: 1rem;
    animation-name: fadeDown;
    animation-duration: 3s;
}

.about {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 1rem;
    align-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.skills {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem 0;
    div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 10%;
        padding-right: 10%;
    }


    p {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
        font-family: overwatch;
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
        margin: 2px;
        border-radius: 0.5rem;
    }

}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    // align-content: center;
    h1 {
        text-align: center;
        width: 100%;
    }
}

.pitem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    align-content: center;
    margin: 2%;
    width: 45%;
    justify-content: center;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
    h1 {
        padding: 15px;
        width: 100%;
    }
    p {
        padding: 5%;
        width: 50%;
    }
}

.imga {
    border-radius: 4px;
    width: 50%;   
    height: auto;     
    padding: 5%;
}

.links {
    margin: 1rem 4px;
    display: block;
    width: auto;
    height: auto;
    background: rgb(0, 120, 150);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;

}

.contact {
    display: flex;
}

.footer {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    h1 {
        color: white;
    }

}

body {
    background-image: url(../images/minimal1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

//animations for the landing section

@keyframes moveLeft {
    0% {
        transform: translateX(120px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes moveRight {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}